In [1]:
import pandas as pd

In [2]:
!ls data

0.МТС кейс и рекомендации.docx
0.Справочник БС_модули_блоки.xlsx
0.Справочник групп позиций для графиков.xlsx
0.Справочник перевод штуки в м3.xlsx
1.ОСНОВНОЙ Факт объемы_м3_2017_2022_по дням1.xlsx
2.Факт расход в монтаж БС штуки 2021.xlsx
3.План БС в штуках(строка=штука)_2021.xlsx
4.Ожидаемые поставки_Апрель2021.xlsx
4.Ожидаемые поставки_Январь2021.xlsx
4.Ожидаемые поставки_Декабрь2020.xlsx
5.Расходные операции_янв-дек2021.xlsx
6.Приходные операции_2020-2021.xlsx

In [2]:
data_apr = pd.read_excel('data/4.Ожидаемые поставки_Апрель2021.xlsx', sheet_name=0, skiprows=3)
data_jan = pd.read_excel('data/4.Ожидаемые поставки_Январь2021.xlsx', sheet_name=1)
data_dec = pd.read_excel('data/4.Ожидаемые поставки_Декабрь2020.xlsx',sheet_name=1)

In [3]:
data_apr.head()

,Номер строки в заказе/релизе,Код позиции ЕНС,Наименование позиции ЕНС,Единица измерения,Заказанное количество,Полученное количество,В пути,Организация-получатель,Объём,Общий объём,Дата исполнения заказа/договора,м3,Дата исполнения заказа/договора*,Месяц,Год,Дата поставки SWAP Эрикссон
0,1,160.346.000041,"Блок внутренний IDU Huawei RTN 910AF, 2хGE RJ4...",штука,34,0,34,101,"0,05",1.700000,13.05.2021,0.000000,25.04.2021,4.0,2021.0,00:00:00
1,2,249.022.000011,"Приемопередатчик оптический (eSFP, 1310нм, 1.2...",штука,136,0,136,101,0.000448,0.060928,13.05.2021,0.000448,25.04.2021,4.0,2021.0,00:00:00
2,3,161.346.000136,"Радиоблок внешний ODU Huawei RTN XMC-5D 18ГГц,...",штука,8,0,8,101,0.02,0.160000,13.05.2021,0.023273,25.04.2021,4.0,2021.0,00:00:00
3,4,161.346.000137,"Радиоблок внешний ODU Huawei RTN XMC-5D 18ГГц,...",штука,8,0,8,101,0.02,0.160000,13.05.2021,0.023273,25.04.2021,4.0,2021.0,00:00:00
4,5,161.346.000132,"Радиоблок внешний ODU Huawei RTN XMC-5D 18ГГц,...",штука,9,0,9,101,0.02,0.180000,13.05.2021,0.021888,25.04.2021,4.0,2021.0,00:00:00

In [4]:
data_apr.keys()

Index(['Номер строки в заказе/релизе', 'Код позиции ЕНС',
       'Наименование позиции ЕНС', 'Единица измерения',
       'Заказанное количество', 'Полученное количество', 'В пути',
       'Организация-получатель', 'Объём', 'Общий объём',
       'Дата исполнения заказа/договора', 'м3',
       'Дата исполнения заказа/договора*', 'Месяц', 'Год',
       'Дата поставки SWAP Эрикссон'],
      dtype='object')

In [5]:
data_jan.head()

,Номер строки в заказе/релизе,Код позиции ЕНС,Наименование позиции ЕНС,Единица измерения,Заказанное количество,Полученное количество,В пути,Длина,Ширина,Высота,Объём,Общий объём,Организация-получатель,Дата исполнения заказа/договора,Группа,Наименовнание группы,БС,Месяц,Год
0,1.0,204.346.000194,Карта 12-портовая интерфейсная 10GBase LAN/WAN...,штука,2.0,0.0,2.0,",05",",2",",2",",002",0.004,702,26.01.2021,204.0,Мультиплексоры,0,1.0,2021.0
1,2.0,249.022.000342,Материнский модуль для линейных плат (тип LPUF...,штука,2.0,0.0,2.0,",75",",56",",17",",0714",0.1428,702,26.01.2021,249.0,Мультиплексоры,0,1.0,2021.0
2,1.0,249.022.000301,Карта мультиплексора Flexible Card Line Proces...,штука,1.0,0.0,1.0,",17",",57",",75",",072675",0.072675,702,12.01.2021,249.0,Мультиплексоры,0,1.0,2021.0
3,2.0,249.022.000302,Карта 6-портовая 6-Port 10GBase LAN/WAN-SFP+ F...,штука,1.0,0.0,1.0,",09",",26",",34",",007956",0.007956,702,12.01.2021,249.0,Мультиплексоры,0,1.0,2021.0
4,1.0,181.022.000004,Инсталяционные материалы Huawei для ODU XMC-5D...,штука,24.0,0.0,24.0,",38",",23",",1",",00874",0.20976,304,15.03.2021,181.0,РРЛ,0,3.0,2021.0

In [6]:
data_jan.keys()

Index(['Номер строки в заказе/релизе', 'Код позиции ЕНС',
       'Наименование позиции ЕНС', 'Единица измерения',
       'Заказанное количество', 'Полученное количество', 'В пути', 'Длина',
       'Ширина', 'Высота', 'Объём', 'Общий объём', 'Организация-получатель',
       'Дата исполнения заказа/договора', 'Группа', 'Наименовнание группы',
       'БС', 'Месяц', 'Год'],
      dtype='object')

In [7]:
data_dec.head()

,Дата создания заказа,Дата утверждения заказа,Номер контракта,Номер строки в заказе/релизе,Код позиции ЕНС,Наименование позиции ЕНС,Единица измерения,Заказанное количество,Полученное количество,В пути,Длина,Ширина,Высота,Объём,Общий объём,Организация-получатель,Дата исполнения заказа/договора
0,2021-11-18,2021-12-21,NaN,4,249.022.000267,Оптический приемопередатчик SFP+ 1310nm 10Gb/s...,штука,164,0,164,",08",",01",",01",",000008",",001312",К05,02.02.2022
1,2021-11-18,2021-12-21,NaN,5,249.022.000251,Оптический приемопередатчик SFP+ 1550nm 9.95-1...,штука,50,0,50,",1",",02",",02",",00004",",002",К05,02.02.2022
2,2021-08-27,2021-09-15,D1003239_15(17),1,161.346.000100,"Блок внешний РРЛ Huawei RTN 380AX, 80ГГц, 3Гби...",штука,50,0,50,",1",",38",",58",",02204","1,102",107,29.01.2022
3,2021-08-27,2021-09-15,D1003239_15(17),2,161.346.000099,"Блок внешний РРЛ Huawei RTN 380AX, 80Ггц, 3Гби...",штука,50,0,50,",1",",38",",58",",02204","1,102",107,29.01.2022
4,2021-08-27,2021-09-15,D1003239_15(17),3,181.022.000001,Разъем питания Huawei для RTN 380 Power connec...,штука,100,0,100,",38",",1",",23",",00874",",874",107,29.01.2022

In [8]:
data_dec.keys()

Index(['Дата создания заказа', 'Дата утверждения заказа', 'Номер контракта',
       'Номер строки в заказе/релизе', 'Код позиции ЕНС',
       'Наименование позиции ЕНС', 'Единица измерения',
       'Заказанное количество', 'Полученное количество', 'В пути', 'Длина',
       'Ширина', 'Высота', 'Объём', 'Общий объём', 'Организация-получатель',
       'Дата исполнения заказа/договора'],
      dtype='object')

In [9]:
drop_apr = [
    'Номер строки в заказе/релизе', 
    'Наименование позиции ЕНС',
    'Единица измерения',
    'Полученное количество', 
    'В пути',
    'Дата исполнения заказа/договора', 
    'м3',
    'Дата исполнения заказа/договора*',
    'Дата поставки SWAP Эрикссон',
]

drop_jan = [
    'Номер строки в заказе/релизе',
    'Наименование позиции ЕНС', 
    'Единица измерения',
    'Полученное количество', 
    'В пути', 
    'Длина',
    'Ширина', 
    'Высота', 
    'Дата исполнения заказа/договора', 
    'Группа', 
    'Наименовнание группы',
    'БС',
]

drop_dec = [
    'Дата создания заказа',
    'Номер контракта',
    'Номер строки в заказе/релизе',
    'Наименование позиции ЕНС',
    'Единица измерения',
    'Полученное количество', 
    'В пути', 
    'Длина',
    'Ширина', 
    'Высота',
]

In [10]:
data_apr.drop(drop_apr, axis=1, inplace=True)
data_jan.drop(drop_jan, axis=1, inplace=True)
data_dec.drop(drop_dec, axis=1, inplace=True)

In [11]:
data_dec['Дата исполнения заказа/договора'] = \
data_dec['Дата исполнения заказа/договора'].apply(lambda x: pd.to_datetime(x, dayfirst=True))

In [12]:
data_jan.head()

,Код позиции ЕНС,Заказанное количество,Объём,Общий объём,Организация-получатель,БС,Месяц,Год
0,204.346.000194,2.0,",002",0.004,702,0,1.0,2021.0
1,249.022.000342,2.0,",0714",0.1428,702,0,1.0,2021.0
2,249.022.000301,1.0,",072675",0.072675,702,0,1.0,2021.0
3,249.022.000302,1.0,",007956",0.007956,702,0,1.0,2021.0
4,181.022.000004,24.0,",00874",0.20976,304,0,3.0,2021.0

In [13]:
data_apr.head()

,Код позиции ЕНС,Заказанное количество,Организация-получатель,Объём,Общий объём,Месяц,Год
0,160.346.000041,34,101,"0,05",1.700000,4.0,2021.0
1,249.022.000011,136,101,0.000448,0.060928,4.0,2021.0
2,161.346.000136,8,101,0.02,0.160000,4.0,2021.0
3,161.346.000137,8,101,0.02,0.160000,4.0,2021.0
4,161.346.000132,9,101,0.02,0.180000,4.0,2021.0

In [14]:
data_dec['Год'] = pd.DatetimeIndex(data_dec['Дата исполнения заказа/договора']).year
data_dec['Месяц'] = pd.DatetimeIndex(data_dec['Дата исполнения заказа/договора']).month

data_dec.drop(['Дата исполнения заказа/договора', 'Дата утверждения заказа'], axis=1, inplace=True)

In [15]:
data_dec.head()

,Код позиции ЕНС,Заказанное количество,Объём,Общий объём,Организация-получатель,Год,Месяц
0,249.022.000267,164,",000008",",001312",К05,2022.0,2.0
1,249.022.000251,50,",00004",",002",К05,2022.0,2.0
2,161.346.000100,50,",02204","1,102",107,2022.0,1.0
3,161.346.000099,50,",02204","1,102",107,2022.0,1.0
4,181.022.000001,100,",00874",",874",107,2022.0,1.0

In [19]:
data_dec.isna().sum()

Код позиции ЕНС             0
Заказанное количество       0
Объём                     154
Общий объём               351
Организация-получатель      0
Год                       729
Месяц                     729
dtype: int64

In [20]:
data_jan.isna().sum()

Код позиции ЕНС             7
Заказанное количество       7
Объём                     171
Общий объём               191
Организация-получатель      4
БС                          7
Месяц                       7
Год                         7
dtype: int64

In [21]:
data_apr.isna().sum()

Код позиции ЕНС             0
Заказанное количество       0
Организация-получатель      0
Объём                       0
Общий объём                 0
Месяц                     465
Год                       465
dtype: int64

In [26]:
data_apr.shape, data_jan.shape, data_dec.shape, (data_apr.shape[0]+data_jan.shape[0]+data_dec.shape[0])

((4976, 7), (3756, 7), (5002, 7), 13734)

In [38]:
data_jan['Год'].unique()

array([2021., 1900., 2020., 2018., 2019., 2015.,   nan])

In [40]:
data_dec['Год'].unique()

array([2022., 2021.,   nan, 2023., 2020., 2019.])

In [39]:
data_apr['Год'].unique()

array([2021.,   nan, 2020.])

In [27]:
data = pd.concat([
    data_apr, 
    data_jan,
    data_dec
])

In [28]:
data.head(5)

,Код позиции ЕНС,Заказанное количество,Организация-получатель,Объём,Общий объём,Месяц,Год
0,160.346.000041,34.0,101,"0,05",1.7,4.0,2021.0
1,249.022.000011,136.0,101,0.000448,0.060928,4.0,2021.0
2,161.346.000136,8.0,101,0.02,0.16,4.0,2021.0
3,161.346.000137,8.0,101,0.02,0.16,4.0,2021.0
4,161.346.000132,9.0,101,0.02,0.18,4.0,2021.0

In [32]:
data.groupby(['Год', 'Месяц']).sum()

C:\Users\yakov\AppData\Local\Temp\ipykernel_9148\1994494255.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby(['Год', 'Месяц']).sum()

              Заказанное количество
Год    Месяц
1900.0 1.0                 422991.0
2015.0 6.0                      3.0
2018.0 4.0                    500.0
       6.0                   2272.0
       10.0                     1.0
       12.0                   377.0
2019.0 2.0                    800.0
       7.0                    300.0
       12.0                   686.0
2020.0 1.0                    168.0
       2.0                     48.0
       3.0                      1.0
       4.0                     60.0
       5.0                    834.0
       6.0                   3006.0
       7.0                      1.0
       9.0                    410.0
       10.0                  3651.0
       11.0                  4303.0
       12.0               1616834.0
2021.0 1.0                 277193.0
       2.0                 116947.0
       3.0                1047281.0
       4.0                 357041.0
       5.0                1031394.0
       6.0                 105046.0
       7.0                 122498.0
       8.0                  17150.0
       9.0                  87912.0
       10.0                 42195.0
       11.0                361596.0
       12.0                476214.0
2022.0 1.0                1396452.0
       2.0                 696515.0
       3.0                 173139.0
       4.0                  45638.0
       5.0                  64617.0
       6.0                  73103.0
       8.0                     87.0
       12.0                   668.0
2023.0 6.0                      8.0

In [33]:
data[ data['Год']==1900 ]

,Код позиции ЕНС,Заказанное количество,Организация-получатель,Объём,Общий объём,Месяц,Год
315,189.022.001797,3.0,К04,",038988",0.116964,1.0,1900.0
316,189.022.001638,3.0,К04,",0005",0.0015,1.0,1900.0
317,189.022.001798,3.0,К04,",003366",0.010098,1.0,1900.0
318,189.022.001808,2.0,К04,NaN,NaN,1.0,1900.0
319,189.022.001809,2.0,К04,NaN,NaN,1.0,1900.0
...,...,...,...,...,...,...,...
3740,242.346.000929,2135.0,101,",00013",0.27755,1.0,1900.0
3743,241.346.004119,12000.0,702,",000442198",5.306376,1.0,1900.0
3744,241.346.004119,12000.0,702,",000442198",5.306376,1.0,1900.0
3746,151.346.000700,12.0,К04,",0288",0.3456,1.0,1900.0
3747,157.036.000028,2.0,101,",05888",0.11776,1.0,1900.0

In [35]:
data_jan['Год'].unique()

array([2021., 1900., 2020., 2018., 2019., 2015.,   nan])

In [36]:
data_apr['Год'].unique()

array([2021.,   nan, 2020.])

In [37]:
data_dec['Год'].unique()

array([2022., 2021.,   nan, 2023., 2020., 2019.])